<% expands('layouts/base') %>

<% start('body') %>
	<div class="sidebar">
		<% assign('sidebar') %>
	</div>
	<div class="cage">
		<div class="topbar">
			<% assign('topbar') %>
		</div>
		<div class="main">
			<% assign('main') %>
		</div>
	</div>
<% end('body') %>